.tarjeta-movie {
    background-color: rgb(54, 53, 53);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 80%;
}

.titulo-movie {
    text-align: center;
    color: white;
    padding: 20px;
}

.imagen-movie {
    padding: 20px;
    width: 40rem;
}

.synopsis-movie {
    color: white;
    font-size: larger;
}

 /* RESPONSIVE DESIGN */
 @media (max-width:1200px) {

    .imagen-movie {
        width: 30rem;
    }
}

@media (max-width:800px) {

    .imagen-movie {
        width: 20rem;
    }
    .synopsis-movie {
        font-size: large;
    }
}

@media (max-width:600px) {

    .titulo-movie {
        font-size: large;
    }
    .imagen-movie {
        width: 15rem;
    }
    .synopsis-movie {
        font-size: medium;
        padding: 20px;
    }
}